@model Clinica.Models.RecetaMedicamento

@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" href="~/css/CRUD.css">
</head>
<h1>Detalles</h1>

    <h4>RecetaMedicamento</h4>
    <hr />
<div class="form-container">
        <div class="form-group">
            <label>Cantidad:</label>
            <div class="form-value">
                @Html.DisplayFor(model => model.Cantidad)
            </div>
        </div>
        <div class="form-group">
            <label>Instrucciones:</label>
            <div class="form-value">
                @Html.DisplayFor(model => model.Instrucciones)
            </div>
        </div>
        <div class="form-group">
            <label>Medicamento:</label>
            <div class="form-value">
                @Html.DisplayFor(model => model.Medicamento.MedicamentoId)
            </div>
        </div>
        <div class="form-group">
            <label>Receta:</label>
            <div class="form-value">
                @Html.DisplayFor(model => model.Receta.RecetaId)
            </div>
        </div>
    <a asp-action="Edit" asp-route-id="@Model?.recetamedicamentoID" button type="button" class="btn btn-info">Editar</a>
    <a asp-action="Index" button type="button" class="btn btn-secondary">Regresar</a>
</div>
