@model Clinica.Models.Receta

@{
    ViewData["Title"] = "Delete";
}
<head>
    <link rel="stylesheet" href="~/css/formulario.css">
</head>
<h1>Eliminar</h1>

<h3>Seguro que quiere eliminar esta Receta?</h3>

    <h4>Receta</h4>
<div class="form-container">
    <div class="form-card">
    <div class="form-group">
        <label>Fecha:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.Fecha)
        </div>
    </div>
    <div class="form-group">
        <label>Diagnóstico:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.Diagnostico.Descripcion)
        </div>
    </div>
    <div class="form-group">
        <label>Usuario:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.Nombre)
        </div>
    </div>
    <div class="form-group">
        <label>Paciente:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.Paciente.Nombre)
        </div>
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="RecetaId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Index" button type="button" class="btn btn-secondary">Regresar</a>
    </form>
    </div>
</div>
