@foreach (var receta in Model.Recetas)
{
    <tr>
        <td>@receta.Id</td>
        <td>@receta.Fecha</td>
        <td>@receta.Paciente</td>
        <td>
            <a asp-controller="Receta" asp-action="ImprimirReceta" asp-route-id="@receta.Id" class="btn btn-primary">
                Imprimir PDF
            </a>
        </td>
    </tr>
}
