@model Clinica.Models.Examen

@{
    ViewData["Title"] = "Delete";
}
<head>
    <link rel="stylesheet" href="~/css/CRUD.css">
</head>
<h1>Eliminar</h1>

<h3>¿Seguro que quiere eliminar?</h3>

    <h4>Examen</h4>
    <hr />
<div class="form-container">
    <div class="form-group">
        <label>Tipo:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.Tipo)
        </div>
    </div>
    <div class="form-group">
        <label>Resultados:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.Resultados)
        </div>
    </div>
    <div class="form-group">
        <label>Paciente:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.Paciente.PacienteId)
        </div>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ExamenId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Index" button type="button" class="btn btn-secondary">Regresar</a>
    </form>
</div>
