@model Clinica.Models.Examen

@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" href="~/css/CRUD.css">
</head>
<h1>Detalles</h1>


    <h4>Examen</h4>
    <hr />
<div class="form-container">
    <div class="form-group">
        <label>Tipo:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.Tipo)
        </div>
    </div>
    <div class="form-group">
        <label>Resultados:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.Resultados)
        </div>
    </div>
    <div class="form-group">
        <label>Paciente:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.Paciente.PacienteId)
        </div>
    </div>
    <a asp-action="Edit" asp-route-id="@Model?.ExamenId" button type="button" class="btn btn-success">Editar</a>
    <a asp-action="Index" button type="button" class="btn btn-secondary">Regresar</a>
</div>
