<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Clinica</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="sidebar">
        <h2>Clinica Cristo Crucificado</h2>
        <ul>
            <li> <a asp-controller="Home" asp-action="Index">Home</a></li>
            <li> <a asp-controller="Rol" asp-action="Index">Rol</a></li>
            <li><a asp-controller="Usuario" asp-action="Index">Usuario</a></li>
            <li><a asp-controller="Paciente" asp-action="Index">Paciente</a></li>
            <li><a asp-controller="Diagnostico" asp-action="Index">Diagnostico</a></li>
            <li> <a asp-controller="Medicamento" asp-action="Index">Medicamento</a></li>
            <li><a asp-controller="Examen" asp-action="Index">Examen</a></li>
            <li> <a asp-controller="Receta" asp-action="Index">Receta</a></li>
            <li> <a asp-controller="Home" asp-action="Index">Privacy</a></li>
        </ul>
        <ul class="bottom-menu">
            <li><a href="#">Settings</a></li>
            <li><a href="#">Directory</a></li>
        </ul>
    </div>
     <div class="main-content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
