@model Clinica.Models.Diagnostico

@{
    ViewData["Title"] = "Create";
}
<head>
    <link rel="stylesheet" href="~/css/formulario.css">
</head>
<h1>Crear</h1>

<h4>Diagnostico</h4>
<hr />
<div class="form-container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-card">
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
            </div>
        </form>
</div>
<br />
<div>
    <a asp-action="Index" button type="button" class="btn btn-secondary"> Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
