@model Clinica.Models.Diagnostico

@{
    ViewData["Title"] = "Delete";
}
<head>
    <link rel="stylesheet" href="~/css/CRUD.css">
</head>
<h1>Eliminar</h1>

<h3>Seguro que quiere eliminar este Diagnostico</h3>
    <h4>Diagnostico</h4>
    <hr />
<div class="form-container">
    <div class="form-group">
        <label>Descripción:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.Descripcion)
        </div>
    </div>
    <div class="form-group">
        <label>Observaciones:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.Observaciones)
        </div>
    </div>

    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DiagnosticoId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Index" button type="button" class="btn btn-secondary">Regresar</a>
    </form>
</div>
