@model Clinica.Models.Rol

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/formulario.css" />

<h1>Detalles</h1>

<h4>Rol</h4>

<hr />
<div class="form-container">
    <div class="form-card">
        <div class="form-group">
            <label><strong>Nombre:</strong></label>
            <div class="form-value">
                @Html.DisplayFor(model => model.Nombre)
            </div>
        </div>
        <br />
        <div class="button-group">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
            <a asp-action="Index" class="btn-secondary">Regresar</a>
        </div>
    </div>
</div>