@model Clinica.Models.Historial

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<link rel="stylesheet" href="~/css/formulario.css">
<h1>Crear</h1>

<h4>Asignación Especialidad</h4>
<hr />
<div class="row">
        <div class="form-container">
        <form asp-action="Create">
            <h2>Asignar Especialidad a @ViewData["PacienteNombre"]</h2>
                <div class="form-card">
                <div class="form-group">
                    <!-- Campo oculto para PacienteId -->
                    <input type="hidden" asp-for="PacienteId" value="@ViewData["PacienteId"]" />
                    <label asp-for="Fecha" class="control-label"></label>
                    <input asp-for="Fecha" class="form-control" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" readonly />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="EspecialidadId" class="control-label"></label>
                <select asp-for="EspecialidadId" class ="form-control" asp-items="ViewBag.EspecialidadId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            </div>
            </div>
        </form>
        
    </div>
</div>
    <br />
    <div>
        <a asp-action="Index" button type="button" class="btn btn-secondary">Regresar</a>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}