@model Clinica.Models.Historial

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/css/formulario.css">
</head>

<h1>Detalle</h1>

<h4>Asignación Especialidad</h4>
<hr />
<div class="form-container">
    <div class="form-card">
        <div class="form-group">
            <label>Fecha:</label>
            <div class="form-value">
                @Html.DisplayFor(model => model.Fecha)
            </div>
        </div>

        <div class="form-group">
            <label>Paciente:</label>
            <div class="form-value">
                @Html.DisplayFor(model => model.Paciente.Nombre) <!-- Mostrando el nombre del paciente -->
            </div>
        </div>

        <div class="form-group">
            <label>Especialidad:</label>
            <div class="form-value">
                @Html.DisplayFor(model => model.Especialidad.Nombre) <!-- Mostrando el nombre de la especialidad -->
            </div>
        </div>

        <a asp-action="Edit" asp-route-id="@Model?.HistorialId" class="btn btn-info">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
    </div>
</div>
