@model Clinica.Models.Medicamento

@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" href="~/css/CRUD.css">
</head>
<h1>Detalles</h1>
    <h4>Medicamento</h4>
    <hr />
<div class="form-container">
    <div class="form-group">
        <label>Nombre:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.Nombre)
        </div>
    </div>
    <div class="form-group">
        <label>Dosis:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.Dosis)
        </div>
    </div>
    <div class="form-group">
        <label>Frecuencia:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.Frecuencia)
        </div>
    </div>
    <div class="form-group">
        <label>Vía de Administración:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.ViaAdministracion)
        </div>
    </div>

    <a asp-action="Edit" asp-route-id="@Model?.MedicamentoId" button type="button" class="btn btn-info">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Regresar</a>
</div>
